.contact {
  width: 100%;
  height: 90vh;
  display: flex;
}

/* Left section with background image */
.leftSide {
  flex: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Right section with form */
.rightSide {
  flex: 1;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  box-shadow: -4px 0 10px white;
}

.rightSide h1 {
  text-align: center;
  color: black;
  margin-bottom: 30px;
  font-family: "Segoe UI", sans-serif;
  font-style: italic;
  
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

form input,
form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  font-family: "Segoe UI", sans-serif;
  transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: black;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6e767b;
}