.footer {
  width: 100%;
  height: 200px;
  background-color: #ffecef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  /*#ffafe6*/
}

.socialMedia svg {
  color: #d63384;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: #d63384;
}